
<!DOCTYPE html>
<html>
<head>
    <title>navBar</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="top-nav">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>

    <div class="side-nav">
        <nav>
            <ul>
                <li>Movies</li>
                <li>Series</li>
                <li>Shows</li>
                <li>Sports</li>
            </ul>
        </nav>
    </div>

    <div class="image-div">
        <img src="../static/images/winby.jpg" alt="noImg">
    </div>

    <div class="bottom-div">
        <p>&copy; Copyright 2024 All rights reserved | Developed by Rajyalakshmi Pamula</p>
    </div>
</body>
</html>
